.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.my-audits-section {
  color: #ffffff; /* Default white text for the section */
}

.project-heading {
  color: #ffffff; /* White for headings */
}

.my-audits-section p {
  color: #b0b0b0; /* Light gray for general text */
}

.project-card p {
  color: #ffffff; /* White for descriptions */
}

.project-card button {
  background-color: #6C63FF;
  border-color: #6C63FF;
  color: #ffffff;
}

.project-card button:hover {
  background-color: #5848c2; /* Slightly darker purple for hover effect */
}
